/*red: #D43C33 */
/*grep: #888 */

section.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D43C33;
  padding: 17px 10px;
}
section.topbar .logo>svg {
  width: 140px;
  height: 25px;
  vertical-align: top;
}
section.topbar > a {
  color: white;
  display: inline-block;
  border: 1px solid;
  font-size: 15px;
  padding: 4px 10px;
  line-height: 20px;
  border-radius: 15px; 
}

section.globalTops {}


.tabs {
  display: flex
}
.tabs > li {
  width: 33.3333%;
  text-align: center;
  line-height: 20px;
  padding: 10px 0;
}
.tabs > li.active {
  color: #D43C33;
  position: relative;
}
.tabs > li.active::after {
  content: '';
  position: absolute;
  height: 2px;
  background: #D43C33;
  bottom: 0;
  left: 0;
  width: 100%;
}

.tab-content > li {
  display: none;
}
.tab-content > li.active {
  display: block;
}

section.songs > .list > li {
  position: relative;
  padding-left: 10px;
  padding-bottom: 6px;
  padding-top: 5px;
  border-bottom: 1px solid #E2E2E3;
}

section.songs > .list .playButton {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%)
}

section.songs > .list > li > p {
  font-size: 12px;
  color: #888;
}

section.songs > .list .icon-play {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: #aaa;
}
section.songs > .list .icon-sq {
  fill: #D43C33;
}

section.ad {
  background: url(//i.loli.net/2017/10/14/59e221400a75e.png) no-repeat center;
  background-size: cover;
  padding-top: 30px;
  text-align: center;
}
section.ad > svg {
  width: 230px;
  height: 44px;
}
section.ad .link-wrapper > a {
  display: inline-block;
  border: 1px solid;
  line-height: 40px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0 26px;
  border-radius: 20px;
  color: #D43C33;
}

section.ad .copyright {
  font-size: 12px;
  color: #888;
}

.page3 {
  background: #E2E2E3;
}