/*red: #D43C33 */
/*grep: #888 */

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D43C33;
  padding: 0.85rem 1rem;
}
header .logo {
  width: 7rem;
}
header > a {
  color: white;
  display: inline-block;
  border: 1px solid;
  font-size: 0.75rem;
  padding: .2rem .5rem;
  line-height: 1rem;
  border-radius: 0.75rem;
}

/*tab-header*/
section.nav-tabs > ol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  border-bottom: 1px solid rgb(204,204,204)
}
section.nav-tabs > ol > li {
  flex: 1;
  text-align: center;
}
section.nav-tabs li span {
  display: inline-block;
  line-height: 2rem;
}
section.nav-tabs li.active {
  color: #D43C33;
}
section.nav-tabs li.active span::after {
  content: '';
  display: block;
  border-bottom: 2px solid #D43C33;
}

/*tab-content*/
.tab-content > li {
  display: none;
}
.tab-content > li.active {
  display: block;
}

/*tab-content: 推荐音乐*/
.playlists > ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.playlists > ol > li {
  width: 32.5%;
  margin-top: 0.75rem;
  position: relative;
  border-bottom: 1px solid #E2E2E3;
} 
.playlists > ol > li > img {
  width: 100%;
  display: block;
}
.playlists > ol > li > p {
  display: -webkit-box;
  height: 2rem;
  line-height: 1.2;
  padding: 6px 2px 0 6px;
  font-size: 0.65rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.playlists > ol > li .view-time {
  position: absolute;
  right: 2px;
  top: 0;
  font-size: 0.6rem;
  vertical-align: middle;
  color: #fff;
}
.playlists > ol > li .headpone {
  fill: #fff;
}

/*loading 缓存加载、友好的用户体验*/
.loading {
  display: block;
  margin: 1rem auto ;
  width: 1.2rem;
}

/*tab-content：最新歌曲*/
section.songs > ol > li {
  margin: 0 0.5rem;
  padding: 0.3rem 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
}
section.songs li > h3 {
  font-size: 0.85rem;
}
section.songs li > p {
  font-size: 0.6rem;
  color: #888;
  display: flex;
  align-items: center;
}
section.songs li > h3,
section.songs li > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.songs li > p .icon-sq {
  margin-right: 0.2rem;
  fill: #FF6E31;
  height: 0.7rem;
  width: 0.7rem;
  /*文字过多时，需要最小宽度*/
  min-width: 0.7rem;
  vertical-align: middle;
}
section.songs li .playButton {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%)
}
section.songs li .playButton > svg {
  fill: #aaa;
  height: 1.2rem;
  width: 1.2rem;
}

/*tab-content: 页脚 ad*/
section.ad {
  padding-top:0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('//i.loli.net/2017/10/14/59e221400a75e.png') no-repeat center;
  background-size: cover;
  text-align: center;
}
section.ad .logo {
  margin-top: 2.5rem;
  width: 11.5rem;
}
section.ad .link {
  display: inline-block;
  border: 1px solid;
  line-height: 2rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  padding: 0 1.3rem;
  border-radius: 1rem;
  color: #D43C33;
}

section.ad .copyright {
  font-size: 12px;
  color: #888;
  padding-bottom: 1rem;
}

.page3 {
  background: #E2E2E3;
}