* {
  margin: 0;
  padding: 0;
}
*::before {
  margin: 0;
  padding: 0;
}
*::after {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
ul,li {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

body {
  font: 14px/1.5 Helvetica,sans-serif;
}

/*引入图标*/
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}