* {
  margin: 0;
  padding: 0;
}
*::before {
  margin: 0;
  padding: 0;
}
*::after {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

a {
  color: inherit
}
ul,li {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}